<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_info.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-heading">Информация</h1>

        <div class="student-info">
            <h2>{{ record.student_name }}</h2>
            <p><strong>Класс:</strong> {{ record.class_name }}</p>
            <p><strong>Средний балл:</strong> {{ record.average_score }}</p>
            <div class="title">
                <p>
                    <strong>Звание:</strong>
                    <div class="stars">{{ stars }}</div>
                    <br>
                    {{ record.title }}
                </p>
                <p class="title-description"><em>{{ record.title_description }}</em></p>
            </div>
        </div>

        <div class="student-grades">
            <h3>Текущие оценки</h3>
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Оценки</th>
                        <th>Средний балл</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in grades %}
                    <tr>
                        <td>{{ subject['subj_name'] }}</td>
                        <td>{{ "".join(subject['marks']) }}</td>
                        <td>{{ subject['average'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="comment">{{ subject['comment'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="student-history">
    <h3>История успеваемости</h3>
    <table class="history-table">
        <thead>
            <tr>
                <th>Период</th>
                <th>Средний балл</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
            <tr>
                <td>{{ record.period }}</td>
                <td>
                    <a href="https://teach.extpankov.ru/student/{{ record.unique_token }}">
                        {{ record.average_score }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    </div>
    <footer class="footer">
        <p>Предложите улучшение или сообщите об ошибке в <a href="https://extpankov.t.me">Телеграме</a></p>
{#        <p><a href="https://blog.extpankov.ru">Читать подробнее о Тиче</a></p>#}
    </footer>
</body>
</html>
