alembic==1.13.2
beautifulsoup4==4.12.2
blinker==1.7.0
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
cssselect2==0.7.0
cssutils==2.7.1
currency-symbols==2.0.3
et-xmlfile==1.1.0
Flask==3.0.1
Flask-Admin==1.6.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
fonttools==4.43.0
gobject==0.1.0
html5lib==1.1
idna==3.4
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.5
MarkupSafe==2.1.4
numpy==1.26.3
openpyxl==3.1.2
pandas==2.2.0
Pillow==10.0.1
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.32
tinycss2==1.2.1
typing_extensions==4.12.2
tzdata==2023.4
urllib3==2.0.6
weasyprint==60.2
webcolors==1.13
webencodings==0.5.1
Werkzeug==3.0.1
WTForms==3.1.2
xlrd==2.0.1
xls2xlsx==0.2.0
zipp==3.17.0
zopfli==0.2.3
